 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap'); 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    background: #F9F5ED;
    font-family: 'Open Sans', sans-serif;
}
nav{
    padding: 20px 12%;
    height: 14vh;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 5%;
    font-weight: 200;  
}




main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

.leftmain{
    width: 40%;
}

.leftmain h1{
    font-size: 60px;
}

.leftmain p{
    margin: 5% 0;
}

.leftmain button{
    padding: 16px 18px;
    border: none;
    background-color: #387a55;
    border-radius: 10px;
    color: white;
    font-weight: 500;
}

.rightmain{
    width: 60%;
    margin-left: 10%;
}
.rightmain img{
    margin:10px 10px;  
}
